* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #250902;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

nav ul li a:hover {
    background: #ebbdc6;
    color: #000;
}
nav ul a{
    padding-left: 0.5rem;
    margin: 0.3rem 0.5rem;
}


/*  */
.hero {
    background: url(../image/image1);
    background-size: cover;
    background-position: top;
    padding: 4rem;
    color: #fff;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.hero button {
    background: #ebbdc6;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;

}
.hero button:hover{
    background-color: bisque;
    font-size: 1rem;
}
.hero button a {
    text-decoration: none;
}
.hero button a:hover {
    color: red;
}

/* clients */
.clients-main {
    padding: 3rem 1rem;
    background-color: #d6cbcd;

}

.clients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.clients-items img {
    width: 100%;
    height: 100px;
}

.clients-items {
    text-align: center;
}
.clients-title{
    padding-bottom: 1rem;
}

/* Why Newtech */
.why-main{
    padding: 4rem 1rem;
    background-color: beige;
}
.why {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.why-items img{
    width: 100%;
}
.why-Newteh p{
    font-size: 1.1rem;
    padding: 0.3rem 0rem;
}
.why-ul li{
    font-size: 1rem;
    padding: 0.2rem 0rem;
}

/* Projects */
.our-project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}
.our-project div img{
     object-fit: cover;
}

/* Review Section */
.review{
    padding: 2rem 2rem;
    background-color:aquamarine;
}
.reveiw h2{
    text-align: center;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    gap: 100px;
}
.reviews p{
    padding: 0.2rem 0rem;
}
.our-reviews img{
    width: 100%;
    object-fit: cover;
    
}

/* Faq */
.facts{
    background-color: #ebbdc6;
}
.faq{
    padding: 1rem ;
}
.faq-que{
    padding: 0.1rem 1rem;
}
.faq-question{
    font-size: 1.1rem;
    padding: 1rem 1.8rem;
}

    /* Ads Section */
/* .ads{
    display: grid;
    grid-template-columns: repeat(auto-fit(100px, 1fr));
} */
.ads img{
    width: 400px;
    height: 150px;
    background-size: cover;
    object-fit: cover;
    margin: 0.2rem 0rem;
}
    /* Footer1 */
.footer1{
    background-color: aquamarine; 
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.footer1 div{
    display: grid;
    text-align:  -webkit-center;
    margin-bottom: 4px;
    /* */
}
.foot1 div a{
    text-decoration: none; 
}


/*  Footer 2 */
.footer2{
    height: 3rem;
    align-content: center;
    background-color:#250902;
    color: white;
}
.help{
    /* padding-left: 0.5rem; */
    /* font-size: 1.1rem; */
}

.other{
    /* padding-left: 0.5rem; */
    /* font-size: 1.1rem; */
}
.footer2 p{
    text-align: center;
    font-size: 1.2rem;
    /* color: #d6cbcd; */
}


        /* About Us Section */
.a-h1{
    text-align: center;
    margin: 2rem 1rem;
}
.a-head h3{
    text-align: center;
    margin: 1rem;
}
.a-head p{
    padding: 0.6rem 1.4rem;
    font-size: 1.1rem;
    text-align: justify; 
}

.a-sec2 h3{
    text-align: center;
    margin: 1rem;
}
.a-sec2 ul li{
    margin-left: 3.9rem;
    margin-top: 1.2rem;
    font-size: 1.1rem;
}

.a-sec3 h3{
    margin: 1.5rem 1rem;
    text-align: center;
}
.a-sec3 p{
    padding: 0rem 2rem;
    font-size: 1.1rem;
}

        /* Services Page */
.s-title h1{
    text-align: center;
    margin: 1.5rem 0rem;
}
.s-sec1 h3{
    text-align: center;
}
.s-sec1 p{
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
}

.s-sec2 h3{
   text-align: center; 
}
.s-sec2 p{
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
}
.s-sec2 ul li{
    margin-left: 3.9rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.s-sec3 h3{
   text-align: center; 
}

.s-sec3 p{
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
}
.s-sec3 ul li{
    margin-left: 3.9rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.s-sec4 h3{
   text-align: center; 
}

.s-sec4 p{
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
}
.s-sec4 ul li{
    margin-left: 3.9rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.s-sec5 h3{
   text-align: center; 
}

.s-sec5 p{
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
}
.s-sec5 ul li{
    margin-left: 3.9rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.s-sec6 h3{
   text-align: center; 
}

.s-sec6 p{
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
}
.s-sec6 ul li{
    margin-left: 3.9rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.s-sec7 h3{
   text-align: center; 
}

.s-sec7 p{
    padding: 1rem 1.3rem;
    font-size: 1.1rem;
}
.s-sec7 ul li{
    margin-left: 3.9rem;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.s-sec8 h3{
   text-align: center; 
}

.s-sec8 ul li{
    margin: 0.2rem 30rem;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}



/* Features Page */

h1{
    text-align: center;
    margin: 1.3rem;
    color: goldenrod;
}
.f-sec1 h3{
    text-align: center;
}
.f-sec1 p{
    padding: 0.2rem 2rem;
    font-size: 1.1rem;
}
.f-h2{
    text-align: center;
    padding: 1rem 0rem;
}
.f-sec2 h3{
    text-align: center;
    padding: 1rem;
}
.f-sec2 p{
    padding: 0.1rem 3rem;
}